/* Made by Corey Fulop */

body {
    height: 100vh;
    margin: 0px;
    overflow: auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 0px 50px; 
    gap: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    flex-shrink: 0;
    margin-right: 20px;
}

.header-links {
    display: flex;
    gap: 15px;
}

.header ul {
    padding: 0px;
    list-style-type: none;
}

.header ul li {
    flex-shrink: 0;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    flex: 1;
    display: flex;
    background-color: #1f2937;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    gap: 20px;
}

.hero-text-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 480px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text-button button {
    width: 90px;
    height: 30px;
    color: #f9faf8;
    background-color: #3882f6;
    text-align: center;
    border-radius: 12px;
}

.hero-image {
    flex-shrink: 0;
    height: 198px;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    height: 198px;
    width: 480px;
    object-fit: cover;
}

.information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    gap: 20px;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.card img {
    max-width: 200px;
    min-height: 150px;
    border: 2px solid #3882f6;
    border-radius: 8px;
    object-fit: cover;
}

.quote {
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 100px;
    gap: 10px;
}

.quote-text {
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-source {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 800;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

.call-container {
    flex: 1;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.call-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.call-headline {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.call-support {
    font-size: 18px;
    color: #e5e7eb;
}

.call-container button {
    width: 90px;
    height: 30px;
    color: #f9faf8;
    background-color: #3882f6;
    text-align: center;
    border-radius: 12px;
    border-color: white;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
